/* Chung */
.text-style-col {
    font-size: 0.938em;
    border: none;
    text-transform: none;
    font-weight: 500;
    color: #626060;
    opacity: 0.8;
}

.txt-align-left {
    text-align: left;
}

.dp-tbrow {
    display: table-row;
}

.dp-block {
    display: block;
}

.ul-none {
    list-style-type: none;
}

.float-right {
    float: right;
}

.border-circle {
    border-radius: 4px;
}

.text-style-product-item {
    font-size: 15px;
    border: none;
    text-transform: none;
    font-weight: 450;
    color: #626060;
}

.w-100 {
    width: 100% !important;
}


.image-style {
    max-width: 8.735em;
    height: auto;
}

.p-4 {
    padding: 4px;
}

.p-12 {
    padding: 12px;
}

.p-40 {
    padding: 40px;
}

.table-cart .product-remove,
.table-cart .product-thumbnail
 {
    display: none;
}

.cart-item .product-remove,
.cart-item .product-thumbnail
 {
    display: none;
}

#coupon-code {
    border: none;
    touch-action: manipulation;
}

.coupon {
    border: 2px solid #e7e7e7;
    display: inline-block;
    border-radius: 5px;
}

.coupon .btn-apply-coupon {
    outline: 0;
}
/* Checkout */
.cart-total-container {
    background-color: #f9f9f9;
    border-radius: 3px;
    border-left: 1px solid #e7e7e7;
    
}

.cart-total > h2 {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 16px;
    font-weight: 500;
    color: #090909; 
    font-size: 1.5em;
}

.shipping-total > th {
    font-weight: 400;
}


.shop-table-total .cart-subtotal th {
    font-weight: 400;
    text-align: left;
}

.shop-table-total .cart-subtotal td {
    text-align: right;
}

#shipping-method > li {
    text-align: left;
    margin-top: 8px;
}

.proceed-checkout {
    padding-bottom: 20px;
}


.proceed-checkout .back-to-shopping,
.proceed-checkout .shipping-calculator-button {
    display: block;
    text-align: center;
    color: #444;
    font-size: .938em;
    line-height: 1;
    margin-top: 20px;
}

.proceed-checkout .back-to-shopping:hover,
.proceed-checkout .shipping-calculator-button:hover,
.proceed-checkout .checkout-button:hover {
    text-decoration: none;
}

.proceed-checkout .checkout-button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.proceed-checkout .checkout-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 12px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 20px;
    border-color: #007bff;
}

.order-total > th {
    font-weight: 400;
}

.order-total {
    font-size: 18px;
}

.order-total td {
    text-align: right;
} 

.product-quantity input {
    width: 50px;
}
