.custom-input {
    border: 2px solid #ced4da;
    border-radius: 8px; 
    padding: 12px 15px; 
    font-size: 1rem;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

.custom-input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    background-color: #fff; 
}

.card {
    border-radius: 12px; 
    overflow: hidden;
    border: none; 
}

.card-header {
    border-bottom: 2px solid #fff; 
    font-weight: bold;
    padding: 15px; 
}

/* button.btn {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 8px; 
} */
