{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading mb-10">My Wishlist</div>
                <div class="table-wishlist">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="20%">Image</th>
                                <th width="45%">Product Name</th>
                                <th width="15%">Unit Price</th>
                                <th width="15%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in wishlist_products %}
                            <tr>
                                <td><img src="{{ product.image.url }}" alt="{{ product.name }}"
                                        style="width: 100px; height: 100px;"></td>
                                <td width="15%" class="price">{{ product.name }}</td>
                                <td width="15%" class="price">{{ product.price|floatformat:0|intcomma }} đồng</td>
                                <td width="20%">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="product_price" value="{{ product.price }}">
                                        <div class="d-flex">
                                            <button type="submit" class="round-black-btn small-btn">Thêm vào giỏ
                                                hàng</button>
                                            <button type="submit" class="round-black-btn small-btn ms-2">Xóa</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">Your wishlist is empty.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}