{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to CoRiPhoto ...</p> 
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">Chào mừng bạn đến với CoRiPhoto, nguồn cung cấp phần mềm bản quyền đáng tin cậy của bạn. 
                    Chúng tôi là một đội ngũ gồm bốn thành viên nhiệt huyết và giàu kinh nghiệm, cam kết mang 
                    đến cho bạn những sản phẩm số chất lượng và đáng tin cậy.
                    <br><br>
                    Hành trình của chúng tôi bắt đầu từ một tầm nhìn chung: tạo ra một nền tảng đáng tin cậy, 
                    nơi mà cá nhân và doanh nghiệp có thể tiếp cận phần mềm có bản quyền một cách dễ dàng và 
                    an toàn. Chúng tôi hiểu tầm quan trọng của chất lượng, bảo mật và hiệu quả, vì vậy các sản 
                    phẩm của CoRiPhoto được chọn lọc kỹ lưỡng để đảm bảo tất cả đều là phần mềm chính hãng, an 
                    toàn và được hỗ trợ đầy đủ.
                    <br><br>
                    Đội ngũ của chúng tôi:
                    <br>
                    - Nguyễn Thanh Thương: Đảm bảo mọi hoạt động vận hành trơn tru và mang đến trải nghiệm dễ 
                    dàng cho khách hàng từ lúc duyệt sản phẩm đến khi thanh toán.
                    <br>
                    - Nguyễn Hoàng Phúc: Chịu trách nhiệm quản lý và lựa chọn các sản phẩm phần mềm, luôn cập 
                    nhật và giữ chất lượng cao nhất.
                    <br>
                    - Tống Xuân Trung: Tập trung vào hỗ trợ khách hàng, sẵn sàng giải đáp mọi thắc mắc và hướng 
                    dẫn sử dụng sản phẩm.
                    <br>
                    - Nguyễn Thanh Diệu: Quản lý hệ thống kỹ thuật và an ninh, đảm bảo trải nghiệm mua sắm của 
                    bạn được an toàn và ổn định.
                    <br><br>
                    Tại CoRiPhoto, chúng tôi cam kết cung cấp trải nghiệm mua sắm tiện lợi với các sản phẩm phần 
                    mềm bản quyền chất lượng. Cảm ơn bạn đã tin tưởng lựa chọn CoRiPhoto làm đối tác cung cấp phần 
                    mềm đáng tin cậy của mình.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}