<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container ">
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="text-decoration-underline">L</span>aptop<span class="text-primary">&</span>Device
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Categories</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'dell' %}">Laptop dell</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'keyboard' %}">Keyboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'ram' %}">Ram</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'acer' %}">Laptop acer</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'macbook' %}">Mac Book</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <a href="#" class="btn btn-ouline-dark me-3"><i class="bi bi-heart-fill me-2"></i>Wishlist</a>
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a> 
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a href="#" class="ms-3 d-flex justify-content-center align-items-center text-decoration-none text-dark" onclick="toggleDropdown(event)">
                        <i class="bi bi-person-circle me-2" 
                            style="font-size: 25px;
                            color: #000">
                        </i>
                        {{ user.username }}
                    </a>
                    <div class="dropdown-content" id="dropdown">
                        <a href="{% url 'update_user' %}">Profile</a>
                        <a href="#">Settings</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                                
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-dark mx-3">login</a>
                {% endif %}                 
            </div>
        </div>
    </div>
</nav>

<script>
    function toggleDropdown(event) {
        event.preventDefault();
        const dropdown = document.getElementById('dropdown');
        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    }

    // Ẩn dropdown khi click ra ngoài
    document.addEventListener('click', function(event) {
        const dropdown = document.getElementById('dropdown');
        const isClickInside = event.target.closest('.dropdown');
        if (!isClickInside) {
            dropdown.style.display = 'none';
        }
    });
</script>