{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'library/fontawesome-free-6.6.0-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
    <link rel="stylesheet" href="{% static 'library/bootstrap/css/bootstrap.min.css' %}">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">                
                <form 
                    method="post"
                    action="{% url 'register' %}" 
                    class="sign-up-form d-flex align-items-center justify-content-center flex-column py-5 overflow-hidden"
                >
                    {% csrf_token %}
                    <h2 class="title">Đăng kí</h2>
                    <div class="input-grid">
                        
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            {{ form.first_name }}
                        </div>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            {{ form.last_name}}
                        </div> 
                        
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            {{ form.username }}  
                        </div>
                        
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            {{ form.email }}
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            {{ form.password1 }}
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            {{ form.password2 }}
                        </div>
                    </div>
                   
                    {% if errors %}
                    <ul class="error-messages">
                        {% for error in errors.values %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif%}
                    <input type="submit" class="btn solid" value="Sign up"/>
                    <p class="social-text">Or Sign up with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
                <div class="forget-password d-flex flex-column justify-content-center align-items-center">
                    <p>Đã có tài khoản. <a href="{% url 'login' %}">Click here!</a></p>
                </div>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Bạn là một trong số chúng tôi không?</h3>
                    <p>Đăng nhập vào ngay để nhận những ưu đãi và vui vẻ tìm kiếm sản phẩm yêu thích.</p>
                    <a href="{% url 'login' %}" class="btn solid transparent" id="sign-up-btn">Đăng nhập</a>
                </div>
                <img src="{% static 'assets/laptop.svg' %}" class="image" alt="" />
            </div>
        </div>
    </div>
</body>

</html>