{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Search Products</h1>
            <p class="lead fw-normal text-white-50 mb-0">Find What you're Looking for ...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8 my-5">
                <div class="card text-center">
                    <div class="card-header">
                        Search Products
                    </div>
                    <div class="card-body">
                        <form action="{% url 'search' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Search for proucts"
                                    name="searched">
                            </div>
                            <button type="submit" class="btn btn-secondary">Search Product</button>
                        </form>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="container px-4 px-lg-5 mt-5">
                {% if searched %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                    {% for product in searched %}
                    {% if product.is_sale %}
                    <div class="col mb-5">
                        <div class="card h-70">
                            <div class="badge bg-danger text-white position-absolute"
                                style="top: 0.5rem; right: 0.5rem">Sale
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-semibold text-secondary">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    <strike class="">{{ product.price|floatformat:0|intcomma }} đ</strike> <br>
                                    <span class="text-primary fw-bold fs-5">{{ product.sale_price|floatformat:0|intcomma }} đ</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                        href="{% url 'product' product.id %}">View product</a></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col mb-5">
                        <div class="card h-70">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-semibold text-secondary">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    <span class="text-primary fw-bold fs-5">{{ product.price|floatformat:0|intcomma }}
                                        đ</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                        href="{% url 'product' product.id %}">View product</a></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </center>
    </div>
</div>
{% endblock %}