{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Password</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update user password...</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form method="post" action="{% url 'update_password' %}"
            class="sign-up-form d-flex align-items-center justify-content-center flex-column py-5 overflow-hidden">
            {% csrf_token %}
            
            <!-- <div class="d-flex justify-content-between"> -->
            {{ form.current_password }}
            <br>
            {{ form.new_password1 }}
            
            <ul class="small text-muted mt-3">
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
            <br>
            {{ form.new_password2 }}
            
            <button type="submit" class="btn btn-secondary mt-3">Update password</button>
        </form>
    </div>
</section>


{% endblock %}